body {
  font-family: 'Raleway';
}

#navbar {
  height: 80px;
  padding: 20px;
  font-size: 24px;
  background: #f8f9fa;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  ul {
    list-style-type: none;
  }

  a:hover {
    text-decoration: none;
  }
}

#content {
  margin-top: 20px;
}
